[submodule "external/docs-platform-automation-reference-pipeline-config"]
	path = external/docs-platform-automation-reference-pipeline-config
	url = https://github.com/pivotal/docs-platform-automation-reference-pipeline-config
