site
.idea/
.DS_Store
windows-automation/logs/*.log
windows-automation/http/Autounattend.processed.xml
windows-automation/*.iso
windows-automation/variables.pkrvars.hcl
windows-automation/variables.pkr.hcl