<p class="note warning">
    <strong>WARNING:</strong>
    It is recommended to persist the zip file exported from export-installation to an external file store (eg S3) on a regular basis.
    The exported installation can restore the Ops Manager to a working state if it non-functional. 
</p>