---
title: Platform Automation for PCF Configuration
owner: PCF Platform Automation
---

## <a id='configuration'></a> Platform Automation for PCF Configuration
This document lists each Platform Automation for PCF command,
and provides information about their intentions, inputs, and outputs.

Each command is also used in a Concourse task,
which is linked in order to provide additional examples.

All commands use an auth file, given in these examples as `auth.yml`.
This auth file controls the target of the command.

The auth file looks like this if you're using internal auth:


### <a id=''></a>Creating an OpsMan VM

If using the `install-opsman` task in the reference pipeline, providing a configuration file
with IaaS specific properties will be required. The required properties are adapted from the 
instructions outlined in
[Deploying BOSH and Ops Manager to vSphere](https://docs.pivotal.io/pivotalcf/customizing/deploying-vm.html)

The IaaS-specific config file must be provided to the [install-opsman](task-reference.html#install-opsman) task
in order to successfully deploy a VM. 

Specific examples for each IaaS are as follows:

##### <a id='vsphere-configuration'></a> vSphere
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'vsphere-configuration' %>

##### <a id='gcp-configuration'></a> GCP
<%= yield_for_code_snippet from: 'pivotal-cf/platform-automation', at: 'gcp-configuration' %>