---
title: Platform Automation for PCF Configuration
owner: PCF Platform Automation
---

## <a id=''></a> Platform Automation for PCF Configuration
This document lists each Platform Automation for PCF command,
and provides information about their intentions, inputs, and outputs.

Each command is also used in a Concourse task,
which is linked in order to provide additional examples.

All commands use an auth file, given in these examples as `auth.yml`.
This auth file controls the target of the command.

The auth file looks like this if you're using internal auth:


### <a id='create-vm'></a>Creating an Ops Manager VM

If using the `create-vm` task in the reference pipeline, providing a configuration file
with IaaS specific properties will be required. 

The IaaS-specific config file must be provided to the [create-vm](task-reference.html#create-vm) task
in order to successfully deploy a VM. 


### <a id='generate-config'></a>Generating Config from an existing Ops Manager

Assuming that an Ops Manager has been previous deployed, the configuration can be extracted out for CLI or task consumption.

Running the following command will extract a parameterized configuration.

```
p-automator staged-director-config --auth-file auth.yml --output-file director.yml
```

The configuration does not extract credentials from Ops Manager.
This is to ensure that credentials are never written to disk.
The credentials need to be provided from an external configuration when invoking [configure-director](task-reference.html#configure-director).
