# Example: https://github.com/squidfunk/mkdocs-material/blob/master/mkdocs.yml
---
site_name: Platform Automation Toolkit
site_url: https://docs.pivotal.io
repo_url: https://github.com/pivotal/docs-platform-automation
repo_name: Help fix the docs!
edit_uri: edit/develop/docs/
theme:
  name: pivotal
  logo: assets/icon.svg
strict: true
use_directory_urls: false
plugins:
- search: {}
- jinja2:
    dependent_sections:
      tasks: "../platform-automation"
      examples: "./docs/examples"
      reference: "../docs-platform-automation-reference-pipeline-config"
      paving: "../paving"
markdown_extensions:
- sane_lists
- admonition
- pymdownx.extra
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences
- pymdownx.highlight:
    linenums: true
extra_javascript:
- https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.1.2/mermaid.min.js
nav:
- Overview: index.md
- Release Notes: release-notes.md
- Compatibility and Versioning: compatibility-and-versioning.md
- Getting Started: getting-started.md
- Reference Pipelines:
  - Retrieving External Dependencies: pipelines/resources.md
  - Ops Manager + Multiple Products: pipelines/multiple-products.md
- How-to Guides:
  - Installing Ops Manager: how-to-guides/installing-opsman.md
  - Upgrading an Existing Ops Manager: how-to-guides/upgrade-existing-opsman.md
  - Configuring Auth: how-to-guides/configuring-auth.md
  - Configuring Env: how-to-guides/configuring-env.md
  - Creating a Director Config File: how-to-guides/creating-a-director-config-file.md
  - Creating a Product Config File: how-to-guides/creating-a-product-config-file.md
  - Git Repository Layout: how-to-guides/git-repo-layout.md
  - Running Commands Locally: how-to-guides/running-commands-locally.md
  - Setting Up S3 for File Storage: how-to-guides/setting-up-s3.md
- Concepts:
  - Secrets Handling: concepts/secrets-handling.md
  - Stemcell Handling: concepts/stemcell-handling.md
  - Variables: concepts/variables.md
  - Recovering and Upgrading Ops Manager: concepts/upgrade.md
- Pipeline Design:
  - Configuration Management Strategies: pipeline-design/configuration-management-strategies.md
- Task Reference: tasks.md
- Task Inputs and Outputs: inputs-outputs.md
- Report an Issue: report-an-issue.md
