# Example: https://github.com/squidfunk/mkdocs-material/blob/master/mkdocs.yml
---
site_name: Platform Automation
site_url: https://docs.pivotal.io
repo_url: https://github.com/pivotal/docs-platform-automation
repo_name: Help fix the docs!
edit_uri: edit/v2.1/docs/
theme:
  name: pivotal
  logo: assets/icon.svg
  favicon: assets/favicon.ico
strict: true
use_directory_urls: false
plugins:
- search: {}
- jinja2:
    dependent_sections:
      tasks: "../platform-automation"
      examples: "./docs/examples"
markdown_extensions:
  - sane_lists
  - admonition
  - pymdownx.extra
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
extra_javascript:
- https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.1.2/mermaid.min.js
nav:
- Introduction: index.md
- Compatibility and Versioning: compatibility-and-versioning.md
- Release Notes: release-notes.md
- References:
  - Tasks: reference/task.md
  - 'Inputs/Outputs': reference/inputs-outputs.md
  - Pipeline Reference: reference/pipeline.md
  - Running Commands Locally: reference/running-commands-locally.md
- Configuration Management:
  - Configure Auth: configuration-management/configure-auth.md
  - Creating a Director Config File: configuration-management/creating-a-director-config-file.md
  - Creating a Product Config File: configuration-management/creating-a-product-config-file.md
  - Configuring Env: configuration-management/configure-env.md
  - Secrets Handling: configuration-management/secrets-handling.md
- Pipeline Design:
  - Variables: pipeline-design/variables.md
  - Stemcell Handling: pipeline-design/stemcell-handling.md
- About Upgrading OpsManager: upgrade.md
- Report an Issue: report-an-issue.md
