# Example: https://github.com/squidfunk/mkdocs-material/blob/master/mkdocs.yml
---
site_name: Platform Automation
site_url: https://docs.pivotal.io
repo_url: https://github.com/pivotal/docs-platform-automation
repo_name: Help fix the docs!
edit_uri: edit/develop/docs/
theme:
  custom_dir: theme
  logo: https://docs.pivotal.io/images/icon-p-green.jpg
  name: material
  favicon: https://docs.pivotal.io/images/favicon.ico
  font:
    code: Ubuntu Mono
    text: Source Sans Pro
  palette:
    accent: teal
    primary: teal
# #define versions of the product and the unique version URL associated.
extra:
  versions:
    alpha: /pcf-automation/alpha
    unreleased: /pcf-automation/unreleased
  current_version: unreleased
strict: true
use_directory_urls: false
plugins:
- search: {}
- jinja2:
    dependent_sections:
      pivotal/platform-automation: "../platform-automation"
markdown_extensions:
- codehilite
- admonition
extra_css:
- assets/custom.css
- https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css
extra_javascript:
- https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.1.2/mermaid.min.js
- https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js
nav:
- Introduction: index.md
- Release Notes: release-notes.md
- References:
  - Tasks: reference/task.md
  - 'Inputs/Outputs': reference/inputs-outputs.md
  - Pipeline Reference: reference/pipeline.md
- Configuration Management:
  - Configure auth: getting-started.md
  - Configure a director: getting-started.md
  - Configure a product: getting-started.md
  - Configuring env: getting-started.md
  - Secrets Handling: getting-started.md
- Pipeline Design:
  - Externalized Config: index.md
  - Variables: index.md
- Upgrading Opsman: upgrade.md
- Report an Issue: report-an-issue.md
