---
title: Platform Automation for PCF Pipeline Reference
owner: PCF Platform Automation
---

## <a id='pipelines'></a> Platform Automation for PCF Pipelines
These Concourse pipelines are examples
on how to use the [tasks](task-reference.html).


### <a id='retrieving-external-deps'></a>Retrieving external dependencies

The pipeline downloads dependencies consumed by the tasks
and places them into a trusted s3-like storage provider.
This helps other concourse deployments without internet access
retrieve task dependencies.

<%= yield_for_code_snippet from: 'platform-automation-develop', at: 'put-resources-pipeline' %>

### <a id='installing-opsman'></a>Installing Ops Manager and tiles

The pipeline shows how compose the tasks to install Ops Manager and the PCF and Healthwatch tiles.
Its dependencies are coming from a trusted git repository,
which can be retrieved using [this pipeline](#retrieving-external-deps).

<%= yield_for_code_snippet from: 'platform-automation-develop', at: 'pipeline' %>
