---
title: Assumptions and Prerequisites
owner: PCF Norm
---

## <a id='prerequisites'></a> Assumptions and Prerequisites
Platform Automation for PCF assumes access to:
- a supported infrastructure (and admin creds to an account on that infrastructure)
- a network environment suitable for deploying Ops Manager

Platform Automation for PCF is also designed to be able to "take over"
management of an existing Ops Manager,
regardless of how it was deployed.

One way to deploy an Ops Manager
is [terraform][terraform].
For an example, see the docs for deploying Ops Manager with Terraform
on [AWS][aws-terraform-docs] and [GCP][gcp-terraform-docs].

If you wish to use terraform within a Concourse pipeline,
there is a community-supported [terraform concourse resource][terraform-resource].

[aws-terraform-docs]: https://docs.pivotal.io/pivotalcf/2-1/customizing/aws-terraform.html
[gcp-terraform-docs]: https://docs.pivotal.io/pivotalcf/2-1/customizing/gcp-terraform.html
[terraform-resource]: https://github.com/ljfranklin/terraform-resource
[terraform]: https://terraform.io
