---
title: Release Notes for Platform Automation for PCF
owner: PCF Platform Automation
---

These are release notes for Platform Automation for PCF.

##<a id="ver"></a> v0.0.1-rc146

**Release Date:** September 12, 2018

Features included in this release:

* update AWS to support private IP and/or public IP

* `staged-director-config` is now being invoked directly be `om` in the staged director task

##<a id="ver"></a> v0.0.1-rc138 

**Release Date:** August 31, 2018

Features included in this release:

* Includes the latest `om` version

##<a id="ver"></a> v0.0.1-rc130 

**Release Date:** August 22, 2018

Features included in this release:

* Includes the ability to do patch upgrades for OpsMan

##<a id="ver"></a> v0.0.1-rc123 

**Release Date:** August 17, 2018

Features included in this release:

* First alpha release of Platform Automation for PCF

