---
title: Release Notes for Platform Automation for PCF
owner: PCF Platform Automation
---

These are release notes for Platform Automation for PCF.

##<a id="ver"></a> v0.0.1-rc174

**Release Date:** September 21, 2018

Features included in this release:

* cleaning up resources in Azure, GCP, OpenStack when deleting the vm

* the latest `om` which includes the ability to specify `vm-extensions` key in the director config file. 

* a script for building a Docker image 

Breaking changes in this release:

* The auth resource has been split into two pieces, an `auth` file and an `env` file. The `auth` resource is now referred to as the `env` resource, and the `auth` file is now going to exist in the config resource. You can see how to create those inputs in the task reference of the documentation. This breaking changes effects existing rcs but should only involve changes to the pipeline.yml if you are using the new tasks. 

##<a id="ver"></a> v0.0.1-rc146

**Release Date:** September 12, 2018

Features included in this release:

* update AWS to support private IP and/or public IP

* `staged-director-config` is now being invoked directly be `om` in the staged director task

##<a id="ver"></a> v0.0.1-rc138 

**Release Date:** August 31, 2018

Features included in this release:

* Includes the latest `om` version

##<a id="ver"></a> v0.0.1-rc130 

**Release Date:** August 22, 2018

Features included in this release:

* Includes the ability to do patch upgrades for OpsMan

##<a id="ver"></a> v0.0.1-rc123 

**Release Date:** August 17, 2018

Features included in this release:

* First alpha release of Platform Automation for PCF

