---
title: Upgrading PCF using Platform Automation
owner: PCF Platform Automation
---

This topic describes how to upgrade an Ops Manager using Platform Automation.

##<a id='export-installation'></a>Always export your installation
<%= partial 'export_installation_note' %>

##<a id='upgrade'></a>Upgrading Ops Manager

This is a feature in progress! Check back soon for more information and updates regarding this feature