# The inputs, outputs, params, filename, and filepath
# of this task file are part of its semantically versioned API.
# See our documentation for a detailed discussion of our semver API.
# See www.semver.org for an explanation of semantic versioning.

# code_snippet check-pending-changes start yaml
---
platform: linux

inputs:
- name: platform-automation-tasks
- name: env # contains the env file with target OpsMan Information

params:
  ENV_FILE: env.yml
  # - Required
  # - Filepath of the env config YAML
  # - The path is relative to root of the `env` input

  ALLOW_PENDING_CHANGES: false
  # - Optional
  # - If false, will fail if there are pending changes in OpsMan

run:
  path: platform-automation-tasks/tasks/check-pending-changes.sh
# code_snippet check-pending-changes end
