# The inputs, outputs, params, filename, and filepath
# of this task file are part of its semantically versioned API.
# See our documentation for a detailed discussion of our semver API.
# See www.semver.org for an explanation of semantic versioning.

# code_snippet generate-certificate start yaml
---
platform: linux

inputs:
- name: platform-automation-tasks
- name: env # contains the env file with target OpsMan Information

outputs:
- name: certificate.pem # contains the newly created Certificate PEM
- name: privatekey.pem # contains the newly created Private Key PEM

params:
  DOMAINS:
  # - Required
  # - The domains required to generate the certificates

  ENV_FILE: env.yml
  # - Required
  # - Filepath of the env config YAML
  # - The path is relative to root of the `env` input

run:
  path: platform-automation-tasks/tasks/generate-certificate.sh
# code_snippet generate-certificate end