# Operations Manager & multiple products

Below you will find a reference pipeline that illustrates the tasks and provides an example of a basic pipeline design. You know your environment and constraints and we don't - we recommend you look at the tasks that make up the pipeline, and see how they can be arranged for your specific automation needs. For a deeper dive into each task see the Task Reference.

These Concourse pipelines are examples on how to use the [tasks](../tasks.md). If you use a different CI/CD platform, you can use these Concourse files as examples of the inputs, outputs, and arguments used in each step in the workflow.

## Prerequisites

* Deployed Concourse

<p class="note">
<span class="note__title">Note</span>
Platform Automation Toolkit is based on Concourse CI.
We recommend that you have some familiarity with Concourse before getting started.
If you are new to Concourse, see
<a href="https://docs.vmware.com/en/Concourse-for-VMware-Tanzu/7.0/vmware-tanzu-concourse/GUID-installation-install-concourse-bosh.html">Installing Concourse with BOSH</a>.</p>

* Persisted datastore that can be accessed by Concourse resource (for example, s3, gcs, minio)
* A valid [generating-env-file][generating-env-file]: this file will contain credentials necessary to login to Ops Manager using the `om` CLI.
It is used by every task within Platform Automation Toolkit
* A valid [auth-file][auth-file]: this file will contain the credentials necessary to create the Ops Manager login the first time
the VM is created. The choices for this file are simple or saml authentication.

    <p class="note">
    <span class="note__title">Note</span>
    There will be some crossover between the auth file and the env file due to how om is setup and how the system works. It is highly recommended to parameterize these values, and let a credential management system (such as CredHub) fill in these values for you to maintain consistency across files.</p>

* An [opsman-configuration][opsman-config] file: This file is required to connect to an IAAS, and control the lifecycle management
 of the Ops Manager VM
* A [director-configuration][director-configuration] file: Each Ops Manager needs its own configuration, but it is retrieved differently from
a product configuration. This config is used to deploy a new Ops Manager director, or update an existing one.
* A set of valid [product-configuration][product-configuration] files: Each product configuration is a yaml file that contains the properties
necessary to configure an Ops Manager product using the `om` tool. This can be used during install or update.
* (Optional) A working [credhub][credhub] setup with its own UAA client and secret.

<p class="note">
<span class="note__title">Note</span>
Please ensure products have been procured from Tanzu Network.
For more information, see
<a href="../pipelines/resources.html">Retrieving External Dependencies</a>.</p>


## Installing Ops Manager and multiple products

The pipeline shows how to compose the tasks
to install Ops Manager and the Tanzu Application Service and Healthwatch products.
Its dependencies are coming from a trusted git repository,
which can be retrieved using [this pipeline][reference-resources].

## Pipeline Components

### S3 Resources

These can either be uploaded manually or from the [reference resources pipeline][reference-resources].

---excerpt--- "reference/reference-resources-s3"
  
<p class="note">
<span class="note__title">Note</span>
<b>Tanzu Application Service [Windows] with S3</b>:
<br>
If retrieving <code>pas-windows</code> and <code>pas-windows-stemcell</code> from an S3 bucket,
you must use the built in S3 concourse resource.
This is done in the example above.
The <code>download-product</code> task with <code>SOURCE: s3</code> does not persist meta information
about necessary stemcell for <code>pas-windows</code>
because VMware does not distribute the Windows file system.</p>
    
Alternatively, products may be downloaded using the `download-product` task with
the param `SOURCE` set to `s3|azure|gcs`.
In a job, specify the following task:

```yaml
...
- task: download-pas
  image: platform-automation-image
  file: platform-automation-tasks/tasks/download-product.yml
  params:
    CONFIG_FILE: download-product-configs/pas.yml
    SOURCE: s3
  input_mapping:
    config: interpolated-creds
  output_mapping:
    downloaded-product: pas-product
    downloaded-stemcell: pas-stemcell
...
```

### Exported Installation Resource

<%= partial "export_installation_note" %>

---excerpt--- "reference/export-installation-resource-usage"

### Configured Resources

These contain values for
opsman VM creation, director, product, foundation-specific vars, auth, and env files.
For more details, see the [Inputs and Outputs][inputs-outputs] section.
Platform Automation Toolkit will not create these resources for you.

---excerpt--- "reference/resources-configurations"

### Trigger Resources

---excerpt--- "reference/resources-triggers"

### Secrets Handling

This helps load secrets stored in an external credential manager -- such as Credhub.
Concourse support several [credential managers][concourse-secrets-handling] natively.
 
The configuration below uses the [`prepare-tasks-with-secrets`][prepare-tasks-with-secrets] task
to load secrets from your external configuration files.

---excerpt--- "reference/prepare-tasks-with-secrets-usage"

### Jobs

Each job corresponds to a "box"
on the visual representation of your Concourse pipeline.
These jobs consume resources defined above.

---excerpt--- "reference/reference-jobs"
