<p><b>AWS</b></p>

```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "*srt*.pivotal" # this guide installs Small Footprint TAS
    pivnet-product-slug: elastic-runtime
    product-version-regex: ^2\.9\..*$
    stemcell-iaas: aws
```

<p><b>Azure</b></p>

```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "*srt*.pivotal" # this guide installs Small Footprint TAS
    pivnet-product-slug: elastic-runtime
    product-version-regex: ^2\.9\..*$
    stemcell-iaas: azure
```

<p><b>GCP</b></p>

```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "*srt*.pivotal" # this guide installs Small Footprint TAS
    pivnet-product-slug: elastic-runtime
    product-version-regex: ^2\.9\..*$
    stemcell-iaas: google
```

<p><b>OpepnStack</b></p>

```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "*srt*.pivotal" # this guide installs Small Footprint TAS
    pivnet-product-slug: elastic-runtime
    product-version-regex: ^2\.9\..*$
    stemcell-iaas: openstack
```

<p><b>vSphere</b></p>

```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "*srt*.pivotal" # this guide installs Small Footprint TAS
    pivnet-product-slug: elastic-runtime
    product-version-regex: ^2\.9\..*$
    stemcell-iaas: vsphere
```
