```bash
# note the starting space
 credhub login --server example.com \
    --client-name your-client-id \
    --client-secret your-client-secret
```

<p class="note">
<span class="note__title">Note</span>
Logging in to CredHub:
Depending on your credential type,
you may need to pass <code>client-id</code> and <code>client-secret</code>,
as we do above, or <code>username</code> and <code>password</code>.
We use the <code>client</code> approach because that's the credential type
that automation should usually be working with.
Nominally, a username represents a person,
and a client represents a system;
this isn't always exactly how things are in practice.
Use whichever type of credential you have in your case.
Note that if you exclude either set of flags,
CredHub will interactively prompt for <code>username</code> and <code>password</code>,
and hide the characters of your password when you type them.
This method of entry can be better in some situations.</p>
