<p></p>
=== "AWS"
    ```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "ops-manager-aws*.yml"
    pivnet-product-slug: ops-manager
    product-version-regex: ^2\.5\.\d+$
    ```
<p></p>
=== "Azure"
    ```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "ops-manager-azure*.yml"
    pivnet-product-slug: ops-manager
    product-version-regex: ^2\.5\.\d+$
    ```
<p></p>
=== "GCP"
    ```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "ops-manager-gcp*.yml"
    pivnet-product-slug: ops-manager
    product-version-regex: ^2\.5\.\d+$
    ```
<p></p>
=== "OpenStack"
    ```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "ops-manager-openstack*.raw"
    pivnet-product-slug: ops-manager
    product-version-regex: ^2\.5\.\d+$
    ```
<p></p>
=== "vSphere"
    ```yaml
    ---
    pivnet-api-token: ((pivnet_token))
    pivnet-file-glob: "ops-manager-vsphere*.ova"
    pivnet-product-slug: ops-manager
    product-version-regex: ^2\.5\.\d+$
    ```
<p></p>
