<p class="note">
<span class="note__title">Note</span>
<b>CredHub paths and pipeline names:</b>
Notice that we've added an element to the cred paths;
now we're using the foundation name.
<br>
If you look at <a href="https://concourse-ci.org/credhub-credential-manager.html">Concourse's lookup rules</a>,
you'll see that it searches the pipeline-specific path
before the team path.
Since our pipeline is named for the foundation it's used to manage,
we can use this to scope access to our foundation-specific information
to just this pipeline.
<br>
By contrast, the Tanzu Network token may be valuable across several pipelines
(and associated foundations), so we scoped that to our team.</p>
