platform: linux
image_resource:
  type: registry-image
  source:
    repository: paasmule/govc
params:
  GOVC_DATASTORE: vnx5600-toronto-2
  GOVC_PASSWORD: ((vsphere.password))
  GOVC_URL: vcenter.toronto.cf-app.com
  GOVC_USERNAME: ((vsphere.username))
run:
  path: bash
  args:
  - -c
  - |
    set -eux

    govc vm.power -k -vm.ipath=/canada-dc/vm/oshawa_vms/OpsManager_norm_lre_dev -off || true
    govc vm.destroy -k -vm.ipath=/canada-dc/vm/oshawa_vms/OpsManager_norm_lre_dev || true