<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/ops-blocks/index.html">Ops Blocks</a>
      </li>

      <li>
        <a href="/ops-blocks/installing.html">Installing Ops Blocks</a>
      </li>

      <li>
        <a href="/ops-blocks/using.html">Using Ops Blocks</a>
      </li>

      <li>
        <a href="/ops-blocks/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
