// Declare your book-specific style overrides in this file.
//
// For example:
//
// .container {
//   color: mediumvioletred;
// }

.note.warning {
  background-color: #fdd;
  border-color: #fbb
  }

.note.warning:before {
  color: #f99;
  }
