---
title: Ops Blocks Command and Task Reference
owner: PCF Norm
---

## <a id='commands'></a> Ops Blocks Commands and Tasks

The code snippets below define tasks in the [PCF Installer repo](https://github.com/pivotal-cf/pcf-installer).

Unless otherwise noted, each of these tasks corresponds to and invokes an Ops Blocks commands of the same name. The task code shows the `inputs`, `outputs`, and `args` of the command.

### <a id='install-opsman'></a>install-opsman

### <a id='configure-authentication'></a>configure-authentication

### <a id='configure-saml-authentication'></a>configure-saml-authentication

### <a id='configure-director'></a>configure-director

### <a id='upload-product'></a>upload-product

<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'upload-and-stage-product' %>

### <a id='stage-product'></a>stage-product


### <a id='configure-product'></a>configure-product

Ops Manager's built-in [export](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/backup-pcf-bbr.html#export) and [import](https://docs.pivotal.io/pivotalcf/customizing/backup-restore/restore-pcf-bbr.html#deploy-import) facilities dump all deployed product settings into a single unreadable file, and only import them when you start up Ops Manager for the first time after an upgrade.

### <a id='upload-stemcell'></a>upload-stemcell

The code below defines the `TK` task in the [PCF Installer repo](https://github.com/pivotal-cf/pcf-installer), showing the `inputs`, `outputs`, and `args` of the `TK` command:

### <a id='apply-changes'></a>apply-changes

The code below defines the `TK` task in the [PCF Installer repo](https://github.com/pivotal-cf/pcf-installer), showing the `inputs`, `outputs`, and `args` of the `TK` command:

