---
title: Ops Blocks Command and Task Reference
owner: PCF Norm
---

## <a id='commands'></a> Ops Blocks Commands


### <a id='install-opsman'></a>install-opsman

### <a id='configure-authentication'></a>configure-authentication

### <a id='configure-saml-authentication'></a>configure-saml-authentication

### <a id='configure-director'></a>configure-director

### <a id='upload-product'></a>upload-product

<%= yield_for_code_snippet from: 'pivotal-cf/pcf-installer', at: 'upload-and-stage-product' %>

### <a id='stage-product'></a>stage-product

### <a id='configure-product'></a>configure-product

Ops Manager's built-in [export](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/backup-pcf-bbr.html#export) and [import](https://docs.pivotal.io/pivotalcf/customizing/backup-restore/restore-pcf-bbr.html#deploy-import) facilities dump all deployed product settings into a single unreadable file, and only import them when you start up Ops Manager for the first time after an upgrade.

### <a id='upload-stemcell'></a>upload-stemcell

### <a id='apply-changes'></a>apply-changes

## <a id='tasks'></a> Ops Blocks Concourse Tasks

