---
title: Ops Blocks Command Reference
owner: PCF Norm
---

| Command | Description |
| ------------- | ------------- |
| [install-opsman](#install-opsman) | Install Opsman VM on supported IAAS (Currently only vSphere)
| [configure-authentication](#configure-authentication) |  configures Ops Manager with an internal userstore and admin user account
| [configure-saml-authentication](#configure-saml-authentication) |  configures Ops Manager with SAML authentication
| [configure-director](#configure-director) |  configures the director
| [upload-and-stage-product](#upload-and-stage-product) |  uploads a given product to the Ops Manager targeted
| [configure-product](#configure-product) |  configures a staged product
| [upload-stemcell](#upload-stemcell) |  uploads a given stemcell to the Ops Manager targeted
| [apply-changes](#apply-changes) |  triggers an install on the Ops Manager targeted
| version |  prints the release version

## <a id='install-opsman'></a>

## <a id='configure-authentication'></a>

## <a id='configure-saml-authentication'></a>

## <a id='configure-director'></a>

## <a id='upload-and-stage-product'></a>

## <a id='configure-product'></a>

Ops Manager's built-in [export](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/backup-pcf-bbr.html#export) and [import](https://docs.pivotal.io/pivotalcf/customizing/backup-restore/restore-pcf-bbr.html#deploy-import) facilities dump all deployed product settings into a single unreadable file, and only import them when you start up Ops Manager for the first time after an upgrade.

## <a id='upload-stemcell'></a>

## <a id='apply-changes'></a>

