business_unit: Tanzu and Cloud Health
contact: ${RELEASE_CONTACT}
title: Platform Automation Toolkit
product_name: Platform Automation Toolkit
display_group: Platform Automation Toolkit
lang: EN
type: Release Update / MP
version: ${VERSION}
status: ${STATUS}
third_party_classification: "N"
no_encryption_change: "Y"
oct_request_id: "3608"
published_date_mm/dd/yyyy: ""
end_of_support_date_mm/dd/yyyy: ${END_OF_SUPPORT_DATE}
docs_link: https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/${DOC_VERSION}/vmware-automation-toolkit/docs-release-notes.html
export_control_status: ENTITLEMENT_REQUIRED
product_slug: platform-automation
tile_new_config_added: False
tile_new_config_release_notes_urls: []
version_breaking_change: False
version_breaking_change_documentation_urls: []
version_known_issues: []
