#@data/values
---
deployments:
  - env_name: ci-aws
    paving_dir: aws
    opsman_glob: "*aws*.yml"
    tags: [ ]
    enable_timed_trigger: true
  - env_name: ci-azure
    paving_dir: azure
    opsman_glob: "*azure*.yml"
    tags: [ ]
    enable_timed_trigger: true
#!  - env_name: ci-vsphere
#!    paving_dir: nsxt
#!    opsman_glob: "*vsphere*.ova"
#!    tags:
#!      - vsphere-pez
#!    enable_timed_trigger: true
  - env_name: ci-upgrade
    paving_dir: gcp
    opsman_glob: "*gcp*.yml"
    tags: [ ]
    enable_timed_trigger: true
  - env_name: ci-support
    paving_dir: gcp
    opsman_glob: "*gcp*.yml"
    tags: [ ]
    enable_timed_trigger: true
  - env_name: reference-gcp
    paving_dir: gcp
    opsman_glob: "*gcp*.yml"
    tags: [ ]
    enable_timed_trigger: false
versions:
  - number: v4.4
    regex: 4\.4\..*
    vsphere_image: false
  - number: v5.0
    regex: 5\.0\..*
    vsphere_image: true
  - number: v5.1
    regex: 5\.1\..*
    vsphere_image: true
