<p class="note">
<span class="note__title">Note</span>
Tanzu Operations Manager Verifier failures when applying changes will prevent deployment.
In cases where these verifiers are incorrectly failing for known reasons,
they should be disabled [using om](./how-to-guides/running-commands-locally.md#disable-verifiers).
The <code>IGNORE_WARNINGS</code> parameter for the
<code>apply-changes</code>, <code>stage-configure-apply</code>, and <code>apply-director-changes</code> tasks
allows users to ignore all warnings from ignorable verifiers.
In an automation context, disabling _only the particular verifiers_
where failure is well-understood allows other verifiers
to continue to provide important feedback.
Some verifiers continue to return warnings even when disabled,
preventing deployment without the <code>IGNORE_WARNINGS: true</code> param set.
If the verifiers that are preventing deployment
are known issues based on the environment setup,
then it is safe to use the flag. </p>

[//]: # ({% include ".internal_link_url.md" %})
