<p class="note important">
VMware recommends persisting the zip file exported from export-installation
to an external file store (for example, S3) on a regular basis.
The exported installation can restore the Tanzu Operations Manager
to a working state if it is not working.</p>
