<p class="note caution">
<span class="note__title">Caution</span>
<b>Always Export your Installation</b>:
It is recommended to persist the zip file exported from export-installation
to an external file store (for example, S3) on a regular basis.
The exported installation can restore the Operations Manager
to a working state if it is non-functional.</p>
