<p class="note">
<code>staged-director-config</code> will not be able to grab all sensitive fields in your Tanzu Operations Manager installation
(for example: vcenter_username and vcenter_password if using vSphere). To find these missing fields, see the
<a href="https://developer.broadcom.com/xapis/tanzu-operations-manager-api/3.0/">Tanzu Operations Manager API Documentation</a>.</p>
