<p class="note important">
<span class="note__title">Important</span>
<code>staged-director-config</code> will not be able to grab all sensitive fields in your Ops Manager installation
(for example: <code>vcenter_username</code> and <code>vcenter_password</code> if using vSphere). To find these missing fields, see the [Ops Manager API Documentation](https://docs.pivotal.io/platform/2-10/opsman-api).</p>
