<p class="note">
<span class="note__title">Note</span>
<code>staged-director-config</code> will not be able to grab all sensitive fields in your Tanzu Operations Manager installation
(for example: vcenter_username and vcenter_password if using vSphere). To find these missing fields, see the
<a href="https://apigw-test.vmware.com/stg/v1/m12/api/TanzuOperationsManagerAPIDocumentation/3-0/opsman-api/">Tanzu Operations Manager API Documentation</a>.</p>
