<p class="note important">
<span class="note__title">Important</span>
<b>Ops Manager 2.5</b>:
<br>
The filename for the artifact downloaded from Ops Manager is changed! If your resources or pipelines
have a regex for the Ops Manager filename, you may be affected. (See the official
Ops Manager <a href="https://community.pivotal.io/s/article/ops-manager-2-5-changing-the-file-naming-scheme-might-break-the-pipeline-jobs">notice</a>
for more information).</p>
