# Release Notes

These are the release notes for Platform Automation Toolkit for VMware Tanzu

## v5.2
June 28, 2023

**CLI Versions**

| Name | version |
|---|---|
| aws-cli | [1.33.13](https://github.com/aws/aws-cli/releases/tag/1.33.13) |
| azure-cli | [2.61.0](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.61.0) |
| bbr-cli | [1.9.66](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore/releases/tag/v1.9.66) |
| bosh-cli | [v7.6.1](https://github.com/cloudfoundry/bosh-cli/releases/tag/v7.6.1) |
| credhub | [2.9.33](https://github.com/cloudfoundry-incubator/credhub-cli/releases/tag/2.9.33) |
| gcloud-cli | 481.0.0 |
| govc-cli | [0.37.3](https://github.com/vmware/govmomi/releases/tag/v0.37.3) |
| om | [7.12.0](https://github.com/pivotal-cf/om/releases/tag/7.12.0) |
| winfs-injector | [0.25.0](https://github.com/pivotal-cf/winfs-injector/releases/tag/0.25.0) |

The full Docker image-receipt: <a href="https://platform-automation-release-candidate.s3-us-west-2.amazonaws.com/image-receipt-5.1.2" target="_blank">Download</a>

### What's New
* `om` has been updated to 7.12.0 in order to have the Auto-Accept EULA functionality for TanzuNet depreciation.
