label.md-nav__link {
    font-weight: bold;
}

@media only screen and (min-width: 76.1875em) {
  label.md-nav__title.md-nav__title--site {
      display: none;
  }
}
.header-dropdown {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.header-dropdown:hover .content,
.header-dropdown:hover .content:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}

.header-dropdown .content {
  position: absolute;
  top: 100%;
  background-color: #009688;
  left: 0;
  display: none;
  z-index: 1;
  clear: both;
  padding: 10px;
}

.header-dropdown ul {
  padding: 0;
  margin: 0;
  line-height: 24px;
}

.header-dropdown ul li {
  list-style: none;
}

.md-header-nav__topic {
  overflow: visible;
}

.header-dropdown .pointer {
  height: 24px;
  width: 24px;
  display: inline-flex;
  vertical-align: middle;
  fill: white;
}

.md-typeset pre, .md-typeset code {
  font-size: 100%
}

.md-typeset table:not([class]) {
  font-size: 16px
}

.md-typeset > .codehilitetable {
  overflow: visible;
}